@model IEnumerable<CineEase2.Models.Actor>

@{
    ViewData["Title"] = "Actors";
}

<h1>Actors</h1>
<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        border: 3px solid #ddd;
    }

    .table th, .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
    }

    .table-container {
        overflow-x: auto;
    }

    .table td, .table th {
        font-weight: bold; 
    }

    .create-button {
        background-color: black; 
        color: white; 
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Follower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Follower)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.MovieName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="create-button">Create New</a>
</p>