@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model IEnumerable<CineEase2.Models.Ticket>
@{
    ViewData["Title"] = "Index";
}

@if (TempData["PaymentSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        Ödemeniz başarıyla gerçekleştirildi.
    </div>
}

<a asp-controller="Payment" asp-action="Index" class="btn btn-primary">Başka bir işlem yap</a>
<h1>Index</h1>
@if(SignInManager.IsSignedIn(User)){
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    } else {
    <p>
        To Create a blog, you must login!
    </p>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.netprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">

                @Html.DisplayFor(modelItem => item.price)
                </a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.netprice)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name) @Html.DisplayFor(modelItem => item.User.Surname)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
