@model IEnumerable<CineEase2.Models.Ticket>
@{
    ViewData["Title"] = "Index";
}

<h1>Tickets</h1>
<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        border: 3px solid #ddd;
    }

        .table th, .table td {
            padding: 8px;
            text-align: left;
            border-bottom: 2px solid #ddd;
        }

        .table th {
            background-color: #f2f2f2;
        }

    .table-container {
        overflow-x: auto;
    }

    .table td, .table th {
        font-weight: bold; /* Yazıları kalın yap */
    }

    .create-button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }

</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.netprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.netprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpirationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CVV)
                </td>
            </tr>
        }
    </tbody>
</table>
